{% extends 'base.html' %}

{% block title %}Reset Password - Page Pulse{% endblock %}

{% block content %}
    <h1>Reset Your Password</h1>
    <h2>Enter the 4-digit code sent to your email, and set a new password.</h2>

    <form action="{% url 'password_reset_confirm' %}" method="POST">
        {% csrf_token %}
        
        <div class="input-container">
            {{ form.code }}
        </div>
        
        <div class="input-container">
            {{ form.new_password1 }}
        </div>

        <div class="input-container">
            {{ form.new_password2 }}
        </div>

        <button type="submit">Reset Password</button>
    </form>

    <a href="{% url 'login' %}" class="back-link">&lt; Back to Log In</a>
{% endblock %}
