{% extends 'base.html' %}
{% load static %}
{% block title %}Page Pulse{% endblock %}

{% block content %}
<div class="categories">
    <ul>
        <li>
            <a href="#">
                <img src="{% static 'images/all.png' %}" alt="All">
                <span>All</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/fiction.png' %}" alt="Fiction">
                <span>Fiction</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/mystery.png' %}" alt="Mystery">
                <span>Mystery</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/romance.png' %}" alt="Romance">
                <span>Romance</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/fantasy.png' %}" alt="Fantasy">
                <span>Fantasy</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/fiction.png' %}" alt="New Adult">
                <span>New Adult</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/mystery.png' %}" alt="Short Story">
                <span>Short Story</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/romance.png' %}" alt="Thriller">
                <span>Thriller</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/fantasy.png' %}" alt="Adventure">
                <span>Adventure</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'images/romance.png' %}" alt="LGBTQ+">
                <span>LGBTQ+</span>
            </a>
        </li>
    </ul>
</div>

<!-- Modal structure -->
<div id="bookModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">Close</span>
        <div class="modal-left">
            <img id="modal-book-img" src="" alt="Book Cover">
        </div>
        <div class="modal-right">
            <h2 id="modal-book-title">Book Title</h2>
            <p id="modal-book-author">Author</p>
            <div class="modal-content .book-info">
                <!-- Additional modal content can go here -->
            </div>
        </div>
    </div>
</div>
<!-- For You section -->
<section class="for-you">
    <h2>For You</h2>
    <div class="book-grid">
        {% for book in books %}
        <div class="book-item" onclick="openModal('{{ book.cover_image.url }}', '{{ book.title }}', '{{ book.author }}', '{{ book.genre.name }}', 'A brief description of the book.')">
            {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
            {% else %}
            <img src="{% static 'images/default_cover.jpg' %}" alt="No cover available">
            {% endif %}
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p>{{ book.genre.name }}</p> <!-- Display the genre here -->
        </div>
        {% endfor %}
    </div>
</section>

<!-- JavaScript to handle modal functionality -->
<script>
    // Function to open the modal and populate it with book data
    function openModal(imgSrc, title, author, genre, description) {
        document.getElementById('modal-book-img').src = imgSrc;
        document.getElementById('modal-book-title').innerText = title;
        document.getElementById('modal-book-author').innerText = 'Author: ' + author;
        document.getElementById('modal-book-genre').innerText = 'Genre: ' + genre;
        document.getElementById('modal-book-description').innerText = 'Description: ' + description;
        
        document.getElementById('bookModal').style.display = 'flex';
    }

    // Function to close the modal
    function closeModal() {
        document.getElementById('bookModal').style.display = 'none';
    }
</script>



<!-- Popular section -->
<section class="popular">
    <h2>Popular</h2>
    <div class="book-grid">
        {% for book in popular_books %}
        <div class="book-item">
            <img src="{{ book.cover_image_url }}" alt="{{ book.title }}">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}
