<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Pulse - Login</title>
    <link rel="stylesheet" href="login.css">
    {% load static %}
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FAF9F6;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0 50px;
        background-color: #FAF9F6;
    }

    .logo img {
        height: 70px;
    }
</style>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'main/images/IM2 Logo.png' %}" alt="Page Pulse Logo">
        </div>
    </header>
    <main>
        <section class="login-form">
            <h2>Welcome Back</h2>
            <p>Dive back into your favorite stories or explore new worlds waiting for you.</p>
            <form action="#">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Page Pulse. All rights reserved.</p>
    </footer>
</body>
</html>