{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page Pulse - Where stories come alive.">
    <title>{% block title %}Page Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/userlib.css' %}">
</head>
<body>

    {% block content %}
    <main>
        <div class="library-container">
            {% for user_library in user_library %}
                <div class="book-card">
                    <img src="{{ user_library.book.cover_image.url }}" alt="{{ user_library.book.title }} cover" class="book-cover">
                    <h3>{{ user_library.book.title }}</h3>
                    <p><strong>Author:</strong> {{ user_library.book.author }}</p>
                    <p><strong>Genre:</strong> {{ user_library.book.genre.name }}</p>
                    <p><strong>Added on:</strong> {{ user_library.added_date }}</p>
                    {% with user_library.readingprogress_set.first as progress %}
                        <p><strong>Progress:</strong> {{ progress.progress }}%</p>
                    {% endwith %}
                </div>
            {% empty %}
                <p>Your library is empty. Start adding books!</p>
            {% endfor %}
        </div>
        
    </main>
    {% endblock %}
</body>
</html>